pkgbase = python-aioesphomeapi
	pkgdesc = Python Client for ESPHome native API. Used by Home Assistant.
	pkgver = 23.2.0
	pkgrel = 1
	url = https://github.com/esphome/aioesphomeapi
	arch = any
	license = MIT
	depends = python-setuptools
	depends = python-aiohappyeyeballs
	depends = python-async_interrupt
	depends = python-protobuf
	depends = python-zeroconf
	depends = python-chacha20poly1305-reuseable
	depends = python-cryptography
	depends = python-noiseprotocol-git
	source = https://github.com/esphome/aioesphomeapi/archive/refs/tags/v23.2.0.tar.gz
	sha256sums = a11fdab02d4bc15af152af26271eeda1845626452a676807997f83ecbda64496

pkgname = python-aioesphomeapi
